<h1>Add a new bookmark</h1>

<form name="input" action="/add" method="post" >
  URL: <input type="text" name="url">
  Bookmark <input type="text" name="bookmark_name">
  <input type="submit" value="Add">
</form>
