<h1>Bookmark Manager</h1>

<form name="input" action="/bookmarks" method="get">
  <input type="submit" value="Bookmarks">
</form>

<form name="input" action="/add_new_bookmark" method="get">
  <input type="submit" value="Add New Bookmark">
</form>

<%= flash[:message] %>
