<h1>Bookmark Manager</h1>

<form name="input" action="/bookmarks" method="get">
  <input type="submit" value="Bookmarks">
</form>

<form name="input" action="/add_new_bookmark" method="get">
  <input type="submit" value="Add New Bookmark">
</form>

<form name="input" action="/find" method="get" >
  Bookmark Name: <input type="text" name="bookmark_name">
  <input type="submit" value="Search">
</form>

<%= flash[:message] %>
